# ignore everything in the root
/*

# keep these
!/.gitignore
!/.npmrc
!/eslint.config.js
!/lib
!/package.json
!/README.md
!/tsconfig.json
!/tsconfig.build.json

# don't commit the type definitions
/lib/index.d.ts
